<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Precipitate</string>
	<key>CFBundleIconFile</key>
	<string>Precipitate</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.Precipitate.PrefPane</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Precipitate</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${PRODUCT_VERSION_STRING}</string>
	<key>NSMainNibFile</key>
	<string>PrecipitatePrefPane</string>
	<key>NSPrefPaneIconFile</key>
	<string>Precipitate.icns</string>
	<key>NSPrefPaneIconLabel</key>
	<string>Precipitate</string>
	<key>NSPrincipalClass</key>
	<string>ComGooglePrecipitatePreferencePane</string>
</dict>
</plist>
