<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Precipitate.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.google.Precipitate.Sync</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>Precipitate</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>gdocdocument.icns</string>
			<key>CFBundleTypeName</key>
			<string>Google Docs document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.google.docs.document</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>gdocspreadsheet.icns</string>
			<key>CFBundleTypeName</key>
			<string>Google Docs spreadsheet</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.google.docs.spreadsheet</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>gdocpresentation.icns</string>
			<key>CFBundleTypeName</key>
			<string>Google Docs presentation</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.google.docs.presentation</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gdoc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>gdoc.icns</string>
			<key>CFBundleTypeName</key>
			<string>Google Doc</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.composite-content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Google Docs document</string>
			<key>UTTypeIconFile</key>
			<string>gdocdocument.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.google.docs.document</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gdocdocument</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.composite-content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Google Docs spreadsheet</string>
			<key>UTTypeIconFile</key>
			<string>gdocspreadsheet.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.google.docs.spreadsheet</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gdocspreadsheet</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.composite-content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Google Docs presentation</string>
			<key>UTTypeIconFile</key>
			<string>gdocpresentation.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.google.docs.presentation</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gdocpresentation</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
